/* index.css */

.no-internet-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #f8d7da;
  color: #721c24;
  z-index: 1;
}

.no-internet-alert p {
  margin: 0;
}

.no-internet-alert .icon {
  margin-right: 8px;
}
