.sidebar-main {
  /* width: fit-content; */
  height: 100vh !important;
  background-color: #ffffff !important;
  /* border-right: 0.5px solid #d9d9d9 !important; */
}

.custom-col {
  flex: 0 0 20%;
  max-width: 20%;
}

.sidebar-main ul li :focus {
  background-color: #e6f7ff !important;
  border-left: 3px solid #1890ff;
}

.menuActive {
  background-color: #e6f7ff !important;
  color: #1890ff !important;
  border-left: 3px solid #1890ff;
}
