.currentEmission {
    background-color: #BAE7FF !important;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .currentEmission2 {
    background-color: #E6F7FF !important;
    font-size: 0.9rem;
    font-weight: 500;
  }